.Container {
  --player-height: 100px;
  --player-gap: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: var(--player-height);
  border-top: 1px solid lightgray;
  padding: 0 calc(var(--player-gap) / 2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Left,
.Middle,
.Right {
  display: flex;
}

.Left {
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: var(--player-gap);
}

.Middle {
  flex-direction: column;
  justify-content: center;

  & section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.Right {
  justify-content: right;
}

// Controls

.PlayButton {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.6rem;
  border: 0;
  border-radius: 9999px;

  background-color: rgb(225 225 225);
}

.IconButton {
  background-color: transparent;
  border: 0;

  fill: rgb(0 0 0 / 0.6);

  &:hover {
    fill: rgb(0 0 0 / 1);
  }
}

.Controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProgressBar {
  height: 6px;
  width: 30rem;
  margin-top: 12px;
}
