.Header {
  margin-bottom: 1.5rem;
}

.Grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 12rem 12rem 12rem 12rem 12rem;
  grid-template-rows: auto;
  gap: var(--panel-gap);
}
